    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About BIGPUMP</h2>
              <br/>
                <p>Bigpump is a gathering place for whales and plankton in the deep ocean</p>
<p>Bigpump is bep20 token built in Smartdefi deployer By FEG Ecosystem</p>
                <p>100% Liquidity locked forever</p>
                <p>Baseline value can't to decrease, Up only Forever</p>
                <br/>
              </div>
        </div>
    </section>
